<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="add" method="post">
    商家的姓名:<input name="merchantName"></br>
    商家的店铺名称:<input name="merchantShopName"></br>
    商家账号:<input name="merchantAccount"></br>
    商家密码:<input name="merchantPassword"></br>
    商家经营范围:<input name="merchantScope"></br>
    <input type="button" value="提交" onclick="submit(this)">
</form>
</body>
<script type="text/javascript">
	function submit(obj){
		obj.parent.sumbit();
	}
</script>
</html>